@model IEnumerable<FoodSilver.Data.Models.Restaurant>

@{
    ViewBag.Title = "Index";
    //Layout = null;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    //now this partial view contain static informations like: address, ..., if we want to have Model prop in it like each restaurant: pass it
    // we want to use partial view insted of a table
    @Html.Partial("_RestaurantSummary", item)
}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @@FoodSilver

@foreach (var item in Model) {
    @:hello
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@

@* section directive to show in the layout render section named footer *@
@section footer { 
    <div>This is a custom footer</div>
}